<link rel="stylesheet" href="../css/nav-bar-style.css">
<footer>
    <div class="nav-container">
        <div class="list">
            <ul class="contents">
                <li><a href="">about us</a></li>
                <li><a href="">support</a></li>
                <li><a href="">press</a></li>
                <li><a href="">api</a></li>
                <li><a href="">jobs</a></li>
                <li><a href="">privacy</a></li>
                <li><a href="">terms</a></li>
                <li><a href="">directory</a></li>
                <li><a href="">profiles</a></li>
                <li><a href="">hashtag</a></li>
                <li><a href="">language</a></li>
            </ul>
        </div>
        <p>© 2018 INSTAGRAM</p>
    </div>
</footer>